* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.clear {
    clear: both;
}
.home {
    background-image: url(../images/home-img.jpg);
    background-size: cover;
    color: #fff;
    text-transform: capitalize;
    height: 100vh;
}
.header div {
    width: 50%;
    float: left;
    margin-top: 20px;
}
.header .logo img{
    width: 20%;
}
.header .nav ul {
    list-style: none;
    padding-top: 10px;
}
.header .nav ul li {
    float: left;
    margin-left: 40px;
    font-size: 14px;
    cursor: pointer;
}
.home-content {
    text-align: center;
    margin-top: 50px;
}
.home-content p {
    color: #ccc;
    font-size: 24px;
}
.home-content p,
.home-content h1 {
    margin-bottom: 50px;
}
.home-content h1 {
    font-size: 70px;
}
.home-content button {
    padding: 15px 20px;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 16px;
}
.home-content .btn1 {
    background-color: #8e7754;
}
.home-content .btn2 {
    background-color: transparent;
}
.home-content .btn2,
.shape {
    border: 1px solid #fff;
}
.btn1:hover,
.btn2:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.shape {
    width: 30px;
    height: 50px;
    margin: 50px auto;
    border-radius: 20px;
}
.location {
    background-color: #f8f8f8;
    padding: 30px;
}
.about,
.location {
    margin: 50px 0px;
}
.blog {
    margin-top: 50px 0px;
    background-color: #f8f8f8;
} 
.about .about-section div,
.location .location-section div,
.blog .blog-section div {
    width: 50%;
    float: left;
}
.item1 img {
    width: 100%;
    margin-top: 30px;
}

.item2 {
    padding: 40px;
}
 .item2 h2 {
    color: #303030;
    text-align: center;
}
.item2 p {
    color: #686868;
    line-height: 1.7;
    margin: 50px 0;
    text-align: center;
}
.about .about-section .item2 ul,
.blog-section .item2 ul {
    list-style: none;
    color: #686868;
}
.about .about-section .item2 ul li,
.blog-section .item2 ul li {
    margin-bottom: 30px;
}
.about .about-section .item2 ul li i {
    border: 0.5px solid #929292;
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
    color: #8e7754;
}
.blog-section .item2 ul li i {
    border-radius: 50%;
    background-color: #8e7754;
    color: #fff;
    padding: 10px;
    margin-right: 5px;
}
.baking {
    text-align: center;
    margin-bottom: 40px;
}
.baking p {
    color: #686868;
    margin: 30px 0 20px;
}
.baking-section div {
    float: left;
    width: 33.333%;
    text-align: center;
    line-height: 1.8;
}
.baking-section div img {
    width: 90%;
}
.baking-section div h4 {
    margin: 10px 0;
    font-size: 14px;
}
.baking-section div p {
    margin-top: 10px;
}
.blog-section .item2 .contact-text {
    text-align: left;
    margin-bottom: 20px;
}
.contact {
    background-color: #403D38;
    padding: 30px 0;
    color: #fff;
}
.contact-section div {
    width: calc(96% / 4);
    float: left;
    margin-right: 1%;
    color: #969696;
}
.contact-section div h4 {
    color: #fff;
    margin-bottom: 20px;
}
.contact-section p {
    line-height: 1.8;
}
.section1-text {
    margin-top: 20px;
}
.contact-section div ul {
    list-style: none;
}
.contact-section div ul li{
    margin-bottom: 20px;
}
.contact-section div ul li i {
    margin-right: 5px;
}
.footer {
    background-color: #353330;
    color: #969696;
    text-align: center;
    padding: 40px 0;
    font-size: 12px;
}
.footer img {
    width: 20%;
}
.footer p {
    margin: 20px 0;
}
.footer i {
    border-radius: 50%;
    background-color: #484540;
    color: #8c8a86;
    padding: 10px;
    margin-right: 5px;
}
.footer i:hover {
    color: #fff;
}
.footer i.face:hover {
    background-color: #3b5998;
}
.footer i.google:hover {
    background-color: #dd4b32;
}
.footer i.linked:hover {
    background-color: #007bb5;
}
.footer i.twitter:hover {
    background-color: #00aced;
}